
.link {
    text-decoration: none;
    color: black;
}


.modal {
    visibility: hidden;
    width: 400px;
    height: 200px;

    /*outra forma de escrever .modal:target */
    &:target {
        visibility: visible;
    }
}

